.Select{
    margin: var(--select-margin);
}

.select_button{
    width: var(--select-width);
    height: var(--select-height);
    padding: var(--select-padding);

    border: var(--select-border-width) solid var(--select-border-color);
    border-radius: var(--select-border-radius);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--select-background-color);
    color: var(--select-font-color);

    transition: all 0.3s ease-in-out;
}

.option{
    margin-left: var(--select-margin)
}

.select_button:focus{
    border-color: var(--select-active-border-color);
    transition: all 0.1s ease-in-out;
}

.select_button:hover{
    border-color: var(--select-hover-border-color);
    transition: all 0.1s ease-in-out;
}

.button_pointer-hide{
    display: none;
}
.button_pointer-show{
    display: inline-block;
}

.button_pointer{
    font-size: 0.6rem;
    color: var(--select-)
}