.Option{
    width: var(--option-width);
    height: var(--option-height);

    border-radius: var(--option-border-radius);

    display: flex;
    justify-content: center;
    align-items: center;
}
.option_button{
    width: 98%;
    height: 90%;

    padding: var(--option-padding);
    text-align: left;

    color: var(--option-font-color);
    background-color: var(--option-background-color);
    border-style: none;

    border-radius: var(--option-border-radius);
}

.option_button:hover{
    color: var(--option-hover-font-color);
    background-color: var(--option-hover-background-color);
}

.option_button:active{
    background-color: var(--option-active-background-color);
}